@model RVSite.Models.Site

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Site</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteNumber)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteType.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteType.Name)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteStatus)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxRVLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxRVLength)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseRate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SiteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
