@model RVSite.Models.Fee

@{
    ViewData["Title"] = "Fee Details";
}

<h1>Fee Details</h1>

<div>
    <h4>Fee</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            Reservation
        </dt>
        <dd class="col-sm-10">
            Reservation #@Model.ReservationID
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameCode)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Model.Amount.ToString("C")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class="col-sm-10">
            @Model.EffectiveDate.ToShortDateString()
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.FeeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
